{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}{{ document.csvfile.name }}{% endblock %}
{% block content %}
{% if document.record_set.all %}
    <ul>
    {% for record in document.record_set.all %}
        <li>{{ record.doc_key }}: {{ record.doc_value }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>The document doesn't appear to have been processed yet. <a href="{% url 'files:select_fields' uploader_id document.id %}">Do it?</a>
{% endif %}
<p><a href="{% url 'files:index' uploader_id %}">Go back to file index page.</a></p>
{% endblock %}