{% extends "base.html" %}

{% load staticfiles %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block bootstrap3_extra_head %}
{% endblock %}

{% block title %}
Uploaded documents list
{% endblock %}

{% block content %}
<div class="row">
{% if latest_document_list %}
    <p>Here are the latest files that you've uploaded:</p>
    <div class="list-group">
        {% for document in latest_document_list %}
            <a href="{% url 'files:detail' uploader_id document.id %}" class="list-group-item">
                {{ document }} - {{ document.csvfile.name }}
            </a>
        {% endfor %}
    </div>
    <p>
        You can upload a new file <a href="{% url 'files:new' uploader_id %}">here</a>.
    </p>
{% else %}
    <p>
        No uploaded files are available. <a href="{% url 'files:new' uploader_id %}">Add a new one?</a>
    </p>
{% endif %}
</div>
{% endblock%}

{% block bootstrap3_extra_script %}
{% endblock %}