{% extends "base.html" %}
{% block title %}Uploaded documents list{% endblock %}
{% block content %}
{% if latest_document_list %}
    <ul>
    {% for document in latest_document_list %}
        <li><a href="{% url 'files:detail' uploader_id document.id %}">{{ document.csvfile.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No uploaded files are available.</p>
{% endif %}
<p>
    You can login to <a href="{% url 'admin:index' %}">the admin area</a> to add files.<br/>
    Username: admin / Password: admin
</p>
{% endblock%}