{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}File import results{% endblock %}
{% block content %}
<div class="row app-results">
    <div class="col-md-3">
        <h3>The uploaded file has been scrubbed.</h3>
    </div>
    <div class="col-md-9">
        {% ifequal action "import_only" %}
            <p>
                The file's records have been imported, you can now return to the
                file index page.
            </p>
        {% else %}
            <p>
                The file's records have been imported and scrubbed against the
                database; after scrubbing, the records {% ifequal action "scrub_save" %}have been
                saved to the database.{% else %}have been discarded.{% endifequal %}
            </p>
            <p>
                You can download the resulting scrub files below:
            </p>
            {% if document.found_file %}
            <p>
                <a href="{% url 'files:download' uploader_id document.id "found_file" %}">Records found in database</a>
            </p>
            {% endif %}
            {% if document.not_found_file %}
            <p>
                <a href="{% url 'files:download' uploader_id document.id "not_found_file" %}">Records missing from database</a>
            </p>
            {% endif %}
        {% endifequal %}
    </div>
</div>
<div class="row">
    <p><a href="{% url 'files:index' uploader_id %}">Go back to file index page.</a></p>
</div>
{% endblock %}